.wrapper{
    display: flex;
    align-items: center;
    border: 1px solid #333;
    padding: 6px 8px;

}

.icon{
    margin-right: 6px;
}

input{
    outline: none;
    border: none;
    color: #fff;
    background-color: transparent;
}